.header {
	color: white;
	background-color: black;
	font-family: sans-serif;
	font-style: italic;
}
body {
	background-color: black;
}
.name {
	color: white;
}
.header ul {
	display: flex;
	flex-direction: row;
	gap: 30px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.header li {
	margin: 0;
}
.header a {
	color: azure;
}
.header ul :hover {
	color: green;
	cursor: pointer;
}

.section-1 {
	display: flex;
	height: 100%;
	justify-content: space-around;
    margin: 50px;
}

.section-1-photo img {
	height: 240px;
}

.intro h1 {
	color: aliceblue;
	display: flex;
	text-align: left;
}
.intro h2 {
	display: flex;
	color: aliceblue;
	text-align: left;
}
.Card {
	color: hsl(208, 50%, 97%);
	display: flex;
	justify-content: center;
	font-size: 60px;
	font-style: sans-serif;
}
.section-3 {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}
#skills-image1{
    border-width: 5px #fff;
    border-radius: 10px;
    padding-right: 10px;
    box-shadow: #fff;
	color: #f0f8ff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: larger;
	gap: 0px;
	
}
#skills-image2{
    border-width: 5px #fff;
    border-radius: 10px;
    padding-right: 10px;
    box-shadow: #fff;
	color: #f0f8ff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: larger;
}
#skills-image3{
    border-width: 5px #fff;
    border-radius: 10px;
    padding-right: 10px;
    box-shadow: #fff;
	color: #f0f8ff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: larger;
}
#skills-image4{
    border-width: 5px #fff;
    border-radius: 10px;
    padding-right: 10px;
    box-shadow: #fff;
	color: #f0f8ff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: larger;
}
#a{
	color: green;
	font-size:xx-large;
	column-gap: 0px;
}
#b{
	color: gray;
	font-size: large;
	column-gap: 0px;
}
#c{
	color: green;
	font-size:xx-large;
	column-gap: 0px;
}
#d{
	color: gray;
	font-size: large;
	column-gap: 0px;
}
#e{
	color: green;
	font-size:xx-large;
	column-gap: 0px;
}
#f{
	color: gray;
	font-size: large;
	column-gap: 0px;
	
}
#g{
	color: green;
	font-size:xx-large;
	column-gap: 0px;
}
#h{
	color: gray;
	font-size: large;
	column-gap: 0px;
}
#n{
	color: green;
	font-size: xx-large;
}
.k{
	color:gray;
	font-size: larger;
}
#s{
	color: green;
	font-size: xx-large;
}
.z{
	color:white;
}
#m{
	color: green;
	font-size: xx-large
}
.section-4{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	color: white;
	padding: 40px 0;
	gap: 50px;
	flex-wrap: wrap;
}
.section-4 :hover{
	color:green;
	cursor: pointer;
}
.section-4 i {
	font-size: 30px;
	color: white;

}
.section-4 i:hover{
	color: green;
	cursor: pointer;
}
footer{
	color: #61676b;
	display: flex;
	justify-content: center;
	font-size: larger;
}

