.header{
    color:white ;
    background-color: black;
    font-family:sans-serif;
    font-style: italic;
    

    
}
body{
    background-color: black;
}
.name{
    color: white;

}
.header ul{
    display: flex;
    flex-direction:row;
    gap:30px;
    list-style-type: none;
    margin: 0;
    padding: 0; 
    
    
    
}
.header li{
    margin: 0;
    
}
.header a{
    color: azure;
    
}
.header ul :hover{
    color:green;
    cursor: pointer;

}
.section-1-part-1 img{
    margin:50px;
    gap: 50px;
    height:50vh;
    width:auto;
    display: flex;
    float: right;
    padding-left: auto;
}
.intro h1{
    color:aliceblue;
    display: flex;
    justify-content: center;
    height: 20vh;
    align-items: center;
    
}
.intro h2{
    display: flex;
    justify-content: center;
    color: aliceblue;
    height: 30vh;
    align-items: center;
}
.Card{
    color: hsl(208, 50%, 97%);
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-style: sans-serif;

}
.section-3{
    display: flex;
    flex-direction: column;

}